.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
    background-color: #DCE9E2;
    transition: all 0.5s;
}
.header[data-visible=false] {
    display: none;
}
.header[data-scroll=true] {
    background-color: #00856F;
}
.nav {
    height: 100%;
    display: flex;
    font-size: 16px;
    gap: 1rem;
}
.link {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #00856F;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid #00856F;
}
.link[data-scroll=true] {
    color: #F7F9F9;
    border-color: #F7F9F9;
}
.link[data-active=false] {
    opacity: 70%;
    border: none;
}
.btn {
    font-size: 14px;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid #00856F;
    color: #00856F;
    background-color: transparent;
    padding: 10px 24px;
}
.btn[data-scroll=true] {
    border-color: #F7F9F9;
    color: #F7F9F9;
}
.light:hover {
    background-color: #00856F;
    color: white;
}
.dark:hover {
    background-color: #00453A;
}
.menu {
    display: none;
    cursor: pointer;

}
.logoWhite,
.logo[data-scroll=true] {
    display: none;
}
.logoWhite[data-scroll=true] {
    display: block;
}

@media (max-width: 700px) {
.nav,
.btn {
    display: none;
}
.menu,
.menuIcon {
display: block;
}
.menuIcon[data-scroll=true] {
    display: none;
}
.menuIconWhite {
    display: none;
}
.menuIconWhite[data-scroll=true] {
    display: block;
}
}