.header {
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  background-color: #dce9e2;
  transition: all 0.5s;
}
.header[data-visible="false"] {
  display: none;
}
.header[data-scroll="true"] {
  background-color: #00856f;
}
.nav {
  height: 100%;
  display: flex;
  font-size: 16px;
  gap: 1rem;
}
.link {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #00856f;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid #00856f;
}
.link[data-scroll="true"] {
  color: #f7f9f9;
  border-color: #f7f9f9;
}
.link[data-active="false"] {
  opacity: 70%;
  border: none;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  border-radius: 40px;
  border: 1px solid #00856f;
  color: #00856f;
  background-color: transparent;
  padding: 10px 24px;
}
.btn[data-scroll="true"] {
  border-color: #f7f9f9;
  color: #f7f9f9;
}
.light:hover {
  background-color: #00856f;
  color: white;
}
.dark:hover {
  background-color: #00453a;
}
.menu {
  display: none;
  cursor: pointer;
}
.logoWhite,
.logo[data-scroll="true"] {
  display: none;
}
.logoWhite[data-scroll="true"] {
  display: block;
}

@media (max-width: 700px) {
  .nav,
  .btn {
    display: none;
  }
  .menu,
  .menuIcon {
    display: block;
  }
  .menuIcon[data-scroll="true"] {
    display: none;
  }
  .menuIconWhite {
    display: none;
  }
  .menuIconWhite[data-scroll="true"] {
    display: block;
  }
}
